# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Capacitor build files
android/app/build/
android/build/
android/capacitor-cordova-android-plugins/
android/.gradle/
android/.idea/
android/local.properties

# macOS system files
.DS_Store

# Android Studio / Gradle
*.log
*.iml
.gradle/
.idea/
local.properties
*.apk
*.aab
*.c
